In [248]:
import requests
import pandas as pd

In [249]:
r_v = requests.get('https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01')
visits = pd.DataFrame(r_v.json())
len(visits)

263459

<h3>Удаление ботов из визитов:</h3>

In [250]:
def get_humans(x):
    if 'bot' in x.lower():
        return 'bot'
    else:
        return 'human'

visits['human_or_bot'] = visits['user_agent'].apply(lambda x: get_humans(x))
visits = visits[visits['human_or_bot'] == 'human'].drop(['human_or_bot'], axis=1)
visits.head()

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 10:36:22 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Wed, 01 Mar 2023 06:25:00 GMT",web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,f149f542-e935-4870-9734-6b4501eaf614
2,"Wed, 01 Mar 2023 10:26:13 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
3,"Wed, 01 Mar 2023 12:33:06 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,19322fed-157c-49c6-b16e-2d5cabeb9592
4,"Wed, 01 Mar 2023 01:38:35 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,04762a22-3c9f-40c9-9ac9-6628c4381836

In [251]:
len(visits)

256077

<h3>Преобразование в Datetime, фильтрация только последних визитов:</h3>

In [252]:
visits['datetime'] = pd.to_datetime(visits['datetime'])#.dt.date
visits['visit_no'] = visits.groupby('visit_id').ngroup()
visits.head()

,datetime,platform,user_agent,visit_id,visit_no
0,2023-03-01 10:36:22,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,16218
1,2023-03-01 06:25:00,web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,f149f542-e935-4870-9734-6b4501eaf614,130783
2,2023-03-01 10:26:13,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,4831
3,2023-03-01 12:33:06,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,19322fed-157c-49c6-b16e-2d5cabeb9592,13656
4,2023-03-01 01:38:35,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,04762a22-3c9f-40c9-9ac9-6628c4381836,2411

In [253]:
len(visits)

256077

In [254]:
visits = visits.sort_values(by=['visit_id', 'datetime'], ascending=[True, False]).reset_index(drop=True)
visits.head()

,datetime,platform,user_agent,visit_id,visit_no
0,2023-06-06 20:32:30,android,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,000012d3-f8c7-4257-8999-ad622b703492,0
1,2023-08-16 11:36:01,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,0000164b-36eb-409a-8ab4-4acc25e5f3de,1
2,2023-08-12 18:16:42,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,0000164b-36eb-409a-8ab4-4acc25e5f3de,1
3,2023-07-02 18:49:04,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0000190e-e494-4fe1-876f-0dc2b4e1be1c,2
4,2023-08-29 20:14:40,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,000063a2-6a6c-466a-b7e5-781568668a6b,3

In [255]:
len(visits)

256077

In [256]:
visits = visits.groupby(['visit_id']).head(1).reset_index(drop=True)
visits.head(100)

,datetime,platform,user_agent,visit_id,visit_no
0,2023-06-06 20:32:30,android,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,000012d3-f8c7-4257-8999-ad622b703492,0
1,2023-08-16 11:36:01,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,0000164b-36eb-409a-8ab4-4acc25e5f3de,1
2,2023-07-02 18:49:04,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0000190e-e494-4fe1-876f-0dc2b4e1be1c,2
3,2023-08-29 20:14:40,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,000063a2-6a6c-466a-b7e5-781568668a6b,3
4,2023-07-02 07:20:46,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,0000b829-7f90-4a38-b831-9b314ecfd8b5,4
...,...,...,...,...,...
95,2023-08-29 13:37:54,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,002da215-4b99-419e-90c0-a75f19d7e56e,95
96,2023-08-16 04:12:49,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,002e524a-8ff2-4415-86c4-2f387dbf9b9f,96
97,2023-06-07 06:28:52,web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,002fc733-502f-42c4-8c5a-677ae8ac4c6d,97
98,2023-04-22 22:41:01,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,00306f2a-0e95-4665-98c5-f6e2c478a59a,98
99,2023-03-08 14:04:49,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,003097ec-2582-4dbf-9101-eec792c6b18b,99

In [257]:
len(visits)

138703

In [258]:
visits['datetime'] = visits['datetime'].dt.date
visits.head()

,datetime,platform,user_agent,visit_id,visit_no
0,2023-06-06,android,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,000012d3-f8c7-4257-8999-ad622b703492,0
1,2023-08-16,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,0000164b-36eb-409a-8ab4-4acc25e5f3de,1
2,2023-07-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0000190e-e494-4fe1-876f-0dc2b4e1be1c,2
3,2023-08-29,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,000063a2-6a6c-466a-b7e5-781568668a6b,3
4,2023-07-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,0000b829-7f90-4a38-b831-9b314ecfd8b5,4

r_r = requests.get('https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01')
registrations = pd.DataFrame(r_r.json())